body {
	background-color: #1E1E1E;
	color: white;
	font-size: 24px;
}

* {
	font-family: "Source Sans Pro", Roboto, sans-serif;
	/*overflow: hidden;*/
}

.row {
	background-color: #989898;
}

#banner-module {
	background-color: #181818;
}

#ticker-module {
	background-color: black;
	/*padding-top: 5px;*/
	padding-bottom: 1px;
}

#time-module {
	background-color: #383838;
}

#class-module {
	background-color: #383838;
}
#weather-module {
	background-color: #585858;
}

#calendar-module {
	background-color: #787878;
}

#twitter-module {
	background-color: #989898;
}
.vertical-align {
    /*display: flex;*/
    align-items: center;
} 
/*http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3/25517025#25517025*/
/* TIME/CLOCK */
#time {
	font-size: 108px;
	font-weight: 500;
	line-height: 95%;
}

#ampm {
	font-weight: 300;
	font-size: 24px;
	color: #BBBBBB;
}

#cal {
	font-size:28px;
	color: #AAAAAA;
}

.data-header {
	color: #AAAAAA;
	font-size: 24px;
	font-weight: 300;
}

.small-text {

}

.data {
	font-size: 48px;
	color: white;
	font-weight: 800;
	line-height: 95%;
}

.data-air {
	font-size: 36px;
}

#n-ticker li {
	font-size: 32px;
	line-height: 80%;
	font-weight: 300;
}

.icon {
	font-size: 64px;
}

/*AQI */
/*PM2.5 Color Code*/
.pm-low {
	color: #26A65B;
}

.pm-med {
	color: #E87E04;
}

.pm-high {
	color: #CF000F;
}

.pm-vhigh {
	color: #CF000F;
	font-weight: bold;
}

/*AQI Color Code*/
/*Air Quality*/
.air-good {
	color: #26A65B;
}

.air-moderate {
	color: #f1c40f;
}

.air-unhealthsensitive {
	color: #F89406;
}

.air-unhealthy {
	color: #CF000F;
}

.air-veryunhealthy {
	color: #663399;
	font-weight: bold;
}

.air-hazardous {
	color: #96281B;
	font-weight: bold;
}

/*CALENDAR*/
.caldate {
	color: #d3d3d3;
	font-size: 28px;
	line-height: 95%;
	font-weight: 300;
}

.calevent {
	font-size: 32px;
	line-height: 90%;
}

/*FOR TWITTER*/
.twuser {
	color: #d3d3d3;
	font-size: 18px;
	line-height: 95%;
	font-weight: 300;
}

.twtweet {
	font-size: 24px;
	line-height: 80%;
}

.today {
	font-weight: 700;
}

/*VID*/
div.canvas > video {
	display: block;
	margin: auto;
}

/*SOME BOOTSTRAP STUFF*/

.icon-spacing {
	padding-left: 2px;
}

.module-spacing {
	padding-top: 15px;
	padding-bottom: 15px;
}


/*OVERLAYS*/
.overlay {
	position: absolute;
	bottom: 0;
	padding: 2px 8px 5px 5px ;

	width: 100%;
	text-align: right;
	background-color: rgba(30, 30, 30, 0.5);
	

	-webkit-backdrop-filter: blur(18px) opacity(90%);

	height: 6%;
/**/
}

#overlaytime {
	font-size: 48px;
	font-weight: 300;
}

#overlayampm{
	font-size: 24px;
	font-weight: 300;
}