

* {
	font-family:  Roboto, sans-serif;
	/*overflow: hidden;*/
}

@media only screen and (width: 1920px) {
	body {
		font-size: 16px;
	}
	#banner-module, #banner-image {
		height: 20vh;
	}
	#ticker-module {
		height: 5vh;
	}
	#time-module {
		height: 25vh;
	}
	#calendar-module {
		height: 21vh;
	}
	#weather-module {
		height: 9vh;
	}
	#twitter-module {
		height: 45vh;
	}

}

@media only screen and (max-width: 1080px) {
	#twitter-module {
		display: none;
	}
}



.joke {
	font-family: "Comic Sans MS";
}

#banner-module {
	background-color: #181818;
}

#ticker-module {
	background-color: #181818; /*Same color as banner to hide the fact that it is top-aligned*/
	padding-top: 3px;
	padding-bottom: 4px;

}

#time-module {
	display: flex;
	background-color: #282828;
	align-items: center;
	align-self: center;
}

#weather-module {
	background-color: #484848;
}


#calendar-module {
	background-color: #383838;
}

#twitter-module {
	background-color: #585858;
}

.weathertable {
	display: flex;
	align-items: baseline;
	justify-content: left;
}

/*http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3/25517025#25517025*/
/* TIME/CLOCK */
#time {
	font-size: 7.5em;
	font-weight: 500;
	line-height: 95%;
}

#ampm {
	font-weight: bold;
	font-size: 1.75em;
	/*color: #BBBBBB;*/
}

#cal {
	font-size:1.6em;
	color: #888888;
	font-weight: 300;
}

.data-header {
	color: #AAAAAA;
	font-size: 1.25em;
	/*font-weight: 300;*/
}

.data-header-dark {
	color: #888888;
	font-size: 1.25em;
	/*font-weight: 300;*/
}

.data {
	font-size: 2.25em;
	color: white;
	/*font-weight: 800;*/
	line-height: 100%;
}

.news-ticker li {
	font-size: 3.25em;
	display:flex;
	align-items: center;
	font-weight: 300;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px; /*FIXED*/
	text-align: center;
	vertical-align: middle;
	padding-right: 0px;
}

.tw-icon {
	align-self: flex-start;
}

/*AQI Color Code*/
/*Air Quality*/
.air-good {
	color: #26A65B;
}

.air-moderate {
	color: #f1c40f;
}

.air-unhealthsensitive {
	color: #F89406;
}

.air-unhealthy {
	color: #E61717;
	font-weight: bold;
}

.air-veryunhealthy {
	color: #663399;
	font-weight: bold;
}

.air-hazardous {
	color: #96281B;
	font-weight: bold;
}

/*CALENDAR*/
.caldate {
	color: #888888;
	font-size: 1.15em;
	line-height: 100%;
}

.calevent {
	font-size: 1.85em;
	line-height: 100%;
}

.calevent-today {
	font-weight: 800;
	font-size: 1.9em;
	line-height: 100%;

}

.caldate-today {
	font-weight: 800;
	font-size: 1.25em;
	line-height: 100%;

}

/*FOR TWITTER*/
.twuser {
	color: #d3d3d3;
	font-size: 1.15em;
	line-height: 115%;
	/*font-weight: 300;*/
}

.eventitem {
	line-height: 60%;
}

/*.imgtweet {
	line-height: 0px;
}
*/
.twtweet {
	font-size: 1.35em;
}

.twimage {
	display: inline-block;
	font-size: 1.35em;
	line-height: 1.15
}



.twitter-image {
	max-height: 300px;
	max-width: 350px;
	height: auto;
	width: auto;
}

.micro-weather-text {
	/*display: flex;*/
	font-size: 0.8em;
	font-style: italic;
	color: #999999;
}

/*VID*/
div.canvas > video {
	display: block;
	margin: auto;
}

/*SOME BOOTSTRAP STUFF*/

.icon-spacing {
	padding-left: 2px;
	padding-right: 3px;
}

.module-spacing {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
}

/*OVERLAYS*/
.overlay {
	position: absolute;
	bottom: 0;
	padding: 2px 8px 5px 5px ;

	width: 100%;
	text-align: right;
	background-color: rgba(30, 30, 30, 0.5);
	

	-webkit-backdrop-filter: blur(8px) opacity(30%);

	height: 6%;
/**/
}

#overlaytime {
	font-size: 48px;
	font-weight: 300;
}

#overlayampm{
	font-size: 24px;
	font-weight: 300;
}

body {
	background-color: #585858;
	color: white;
	height: 100%;
	/*font-size: 16px*/
}